@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-mukta: "Mukta Mahee", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-brand-gray: #B8C7D9;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}
